.workspace-container{
  display: flex;
  flex-direction: column;
  height: 100vh;
}

div .workspace-container header{
  display: flex;
  height: 65px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 2rem;
  background-color: var(--primary-color);
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
}

header h1{
  font-size: 25px;
  color: white;
}

.sidebar{
  width: 250px;
  background-color: var(--secondary-color);
  color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
  margin-top: 60px;
}

.channels-list{
  flex: 1;
  list-style: none;
}

.channel{
  margin-bottom: 10px;
  padding: 4px;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
}

.channel a {
  text-decoration: none;
  color: white;
  display: block;
}

.channel.active {
  background-color: var(--hover-color);
  font-weight: bold;
  color: white;
  border-left: 2px solid var(--border-color);
}

.create-channel-button {
  background-color: transparent;
  color: white;
  margin-top: 1rem;
  border: 1px dashed var(--border-color);
  padding: 0.5rem;
  text-align: center;
}

.create-channel-button:hover {
  background-color: var(--bg-color);
  color: var(--secondary-color);
  border: none;
}

.chat-section {
  margin-top: 4rem;
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: var(--bg-color);
}

.chat-messages {
  background-color: var(--bg-color);
  flex: 1;
  padding: 1rem;
  overflow-y: auto;
  border-bottom: 1px solid var(--border-color);
}

.chat-input {
  display: flex;
  align-items: center;
  padding: 0.5rem;
  padding-top: 1rem;
  border-top: 1px solid var(--border-color);
}

.chat-input .input {
  width: 70vw;
  height: 50px;
  flex: 1;
  padding: 0.5rem;
  margin-right: 1.5rem;
  margin-left: 1.5rem;
  border-radius: 5px;
  border: 1px solid var(--border-color);
  outline: none;
  box-shadow: none;
}

.chat-input .input:focus {
  border: 1px solid var(--hover-color);
  background-color: var(--bg-color);
}

.send-button {
  padding: 0.5rem 2rem;
  margin-bottom: 0.5rem;
  margin-right: 1rem;
  border: 1px solid var(--border-color);
  background-color: var(--secondary-color);
  color: white;
  cursor: pointer;
  border-radius: 5px;
}

.send-button:hover {
  background-color: var(--hover-color);
}

.exit-button {
  padding: 0.5rem 1rem;
  margin-right: 1rem;
  border: 1px solid var(--border-color);
  background-color: var(--secondary-color);
  color: white;
  cursor: pointer;
  border-radius: 5px;
}

.exit-button:hover {
  background-color: var(--secondary-color);
}

.workspace-container section {
  display: flex;
  flex-direction: row;
  flex: 1;
  padding: 0px;
}

.create-channel-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}

.channel-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 0px;
}

.check-button, .cancel-button {
  color: white;
  background-color: transparent;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  margin: 0 20px;
}

.channel.active {
  font-weight: bold;
  color: white;
}

.bi-list {
  font-size: 1.5rem;
  cursor: pointer;
  margin-right: 1rem;
}

.dropdown-button {
  background-color: transparent;
  border: none;
  color: white;
  display: none; 
}

@media screen and (max-width: 1056px) {
  .sidebar {
    display: none;
  }

  .dropdown-button {
    display: block; 
  }

  .chat-section {
    margin-top: 55px;
    position: relative;
  }

  .chat-messages {
    padding: 20px;
    overflow-y: auto;
    position: relative;
  }

  .chat-messages h2 {
    font-size: 1.2rem;
  }

  .dropdown-channels {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 65px;
    left: 0;
    width: 100%;
    background-color: var(--secondary-color);
    z-index: 999;
    padding: 10px 0;
  }

  .dropdown-channels .channels-list {
    width: 100%;
    text-align: center;
  }

  .dropdown-channels .channel {
    padding: 10px 0;
  }

  .dropdown-channels .create-channel-button {
    margin-top: 1rem;
    width: 80%;
    padding: 0.75rem;
  }

  .dropdown-channels h2 {
    color: white;
  }

  .chat-input .input {
    width: 50vw;
  }

  .send-button {
    padding: 0.5rem 1rem;
  }
}
